body,
.splash {
  background: rgb(214, 51, 132);
  background: -moz-linear-gradient(
    155deg,
    rgba(214, 51, 132, 1) 0%,
    rgba(102, 16, 242, 1) 50%,
    rgba(13, 110, 253, 1) 100%
  );
  background: -webkit-linear-gradient(
    155deg,
    rgba(214, 51, 132, 1) 0%,
    rgba(102, 16, 242, 1) 50%,
    rgba(13, 110, 253, 1) 100%
  );
  background: linear-gradient(
    155deg,
    rgba(214, 51, 132, 1) 0%,
    rgba(102, 16, 242, 1) 50%,
    rgba(13, 110, 253, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d63384",endColorstr="#0d6efd",GradientType=1);
  scroll-behavior: smooth;
  min-height: calc(100vh - 2rem);
}

.splash {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

.splash .fa-calculator {
  animation: change-color 3s ease infinite;
}
@keyframes change-color {
  0% {
    color: rgba(214, 51, 132, 1);
  }
  25% {
    color: rgba(102, 16, 242, 1);
  }
  50% {
    color: rgba(13, 110, 253, 1);
  }
  75% {
    color: rgba(102, 16, 242, 1);
  }
  100% {
    color: rgba(214, 51, 132, 1);
  }
}

.header {
  position: sticky;
  top: 0;
}

#table-resposta tr > td:last-child {
  font-weight: bold;
  background-color: #e2e3e5;
  border: 1px solid #cbccce;
}

#table-resposta th {
  background-color: #e2e3e5;
}

#table-info td {
  border-collapse: collapse;
  border: 1px solid #cbccce;
  text-align: center;
}

.nav-pills {
  margin-bottom: -0.4rem;
  z-index: 2;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #0d6efd;
  background-color: white;
}

.nav-pills .nav-link {
  background-color: #0d6efd;
  color: white;
}

.nav-pills .nav-link.recurso,
.nav-link.disabled {
  background-color: #cbccce;
  color: white;
}

@media print {
  body {
    visibility: hidden;
    position: relative;
  }
  .header {
    position: inherit;
  }
  .overflow-auto {
    overflow: visible !important;
  }
  #card-resultado {
    position: absolute !important;
    left: 0;
    top: 0;
  }
  #table-content {
    visibility: visible;
  }
}
